<table class="ui single line table">
  <thead class="">
    <tr class="">
      <th class="">Name</th>
      <th class="">Registration Date</th>
      <th class="">E-mail address</th>
      <th class="">Premium Plan</th>
    </tr>
  </thead>
  <tbody class="">
    <tr class="">
      <td class="">John Lilki</td>
      <td class="">September 14, 2013</td>
      <td class="">jhlilk22@yahoo.com</td>
      <td class="">No</td>
    </tr>
    <tr class="">
      <td class="">Jamie Harington</td>
      <td class="">January 11, 2014</td>
      <td class="">jamieharingonton@yahoo.com</td>
      <td class="">Yes</td>
    </tr>
    <tr class="">
      <td class="">Jill Lewis</td>
      <td class="">May 11, 2014</td>
      <td class="">jilsewris22@yahoo.com</td>
      <td class="">Yes</td>
    </tr>
  </tbody>
</table>
