<div id="issue-container">
    <h3 class="section-header">Issues</h3>
    <div class="container-fluid">
        <div class="row header">
            <div class="col-xs-4 title">1</div>
            <div class="col-xs-2 title beta">2<span class="lnr lnr-question-circle"></span></div>
            <div class="col-xs-2 title beta">3<span class="lnr lnr-question-circle"></span></div>
            <div class="col-xs-2 title beta">4</div>
            <div class="col-xs-2 title beta">5</div>
         </div>
         <% if(locals && locals.scans && locals.scans.list && locals.scans.list.length > 0){ %>
            <%  locals.scans.list.forEach( function( _scan ){  %>
                <% scan = JSON.parse(JSON.stringify(_scan)) %> 

 <div class="row header">
                        <div class="col-xs-12 title">Summary of Scan: Url Date: Date</div>
                     </div>

                     <div class="col-sm-2 chart-col dashed left-dash right-dash">
                            <% if(scan.issues.meta > 0){ %>

                            <% } %>
                        </div>         
                        <div class="col-sm-2 chart-col dashed left-dash right-dash">
                            <% if(scan.issues.security > 0){ %>
                            <% } %>
                        </div>     
                        <div class="col-sm-2 chart-col dashed left-dash right-dash">
                            <% if(scan.issues.resources > 0){ %>
                            <% } %>
                        </div>         
                        <div class="col-sm-2 chart-col dashed left-dash right-dash">
                            <% if(scan.issues.links > 0){ %>
                            <% } %>
                        </div>
                        <div class="col-sm-2 chart-col dashed left-dash right-dash">
                            <% if(scan.issues.tooManyLinks === true){ %>
                            <% } %>
                        </div>
                    </div>

<!--
 // "issues": {
 //        "meta": 1,
 //        "security": 6,
 //        "resources": 69,
 //        "links": 0,
 //        "tooManyLinks": false
 //    },
    -->

<!--
   // "emails": [
   //      "ur-logo@2x.png",
   //      "ky-logo@2x.png",
   //      "img-logo-cars@2x.png",
   //      "ur-logo-white@2x.png",
   //      "ky-logo-white@2x.png",
   //      "img-logo-cars-white@2x.png"
   //  ],

    -->
   <!--             
/* Meta */


  // "meta": {
  //       "h2": {
  //           "found": true,
  //           "element": "<h2>",
  //           "message": "Found"
  //       },
  //       "h1": {
  //           "found": true,
  //           "element": "<h1 class=\"title text-center\">",
  //           "message": "Found"
  //       },
  //       "description": {
  //           "found": false,
  //           "text": "",
  //           "element": null,
  //           "message": "No meta description found."
  //       },
  //       "title": {
  //           "found": true,
  //           "text": "Uniregistry Makes Domain Names Easy.",
  //           "message": "Found"
  //       }
  //   },
-->
                <% if(scan.resources && scan.resources.length > 0){ %>  
                    <div class="row header">
                        <div class="col-xs-12 title">Resources</div>
                     </div>

                    <%  scan.resources.forEach( function( resource ){  %>
   <!--  

      // {
      //       "minified": null,
      //       "cached": true,
      //       "type": "text/html; charset=utf-8",
      //       "gzip": null,
      //       "status": 301,
      //       "url": "http://www.myurl.com/",
      //       "timings": {
      //           "ssl": -1,
      //           "receive": 4,
      //           "wait": 296,
      //           "send": 0,
      //           "connect": -1,
      //           "dns": -1,
      //           "blocked": 0
      //       },
      //       "start": "2017-02-01T03:30:14.043Z",
      //       "duration": 300
      //   },
-->
                        <div class="col-sm-2 chart-col dashed left-dash right-dash">
                            <% if(resource){ %>
                            <% } %>
                        </div>         
                        <div class="col-sm-2 chart-col dashed left-dash right-dash">
                            <% if(resource){ %>
                            <% } %>
                        </div>     
                        <div class="col-sm-2 chart-col dashed left-dash right-dash">
                            <% if(resource){ %>
                            <% } %>
                        </div>         
                        <div class="col-sm-2 chart-col dashed left-dash right-dash">
                            <% if(resource){ %>
                            <% } %>
                        </div>
                        <div class="col-sm-2 chart-col dashed left-dash right-dash">
                            <% if(resource){ %>
                            <% } %>
                        </div>

                    <% }); %>
                <% } else { %>
                    <div class="col-sm-12 chart-col dashed left-dash right-dash">
                        No resources found during this scan.
                    </div>
                <% } %>




            <% }); %>
        <% }  else { %>
              <h4 class="section-header">You have no scans.</h4>
        <% } %>
    </div>
</div>    