<div id="request_container">
      <h3 class="section-header">Recent Activity</h3>
<!--            <div class="container-fluid">
             <div class="content">
                <div>Loading</div>
             </div>
          </div>
      <div class="container-fluid">
         <div class="content">
            <div class="display-selected"><span>Search</span></div>
            <div id="the-basics">
               <input class="typeahead" type="text" placeholder="Http://www.mysite.com">
            </div>
         </div>
      </div> -->
      <!-- <div class="container-fluid"> -->



         <div class="row header">
            <div class="col-xs-4 title">Info</div>
            <div class="col-xs-2 title beta">Grade<span class="lnr lnr-question-circle"></span></div>
            <div class="col-xs-2 title beta">Performance<span class="lnr lnr-question-circle"></span></div>
            <div class="col-xs-2 title beta">Issues</div>
            <div class="col-xs-2 title beta">Captures</div>
         </div>
        <div id="request_loop" style="heigsht:300px;oversflow:scroll"></div>
    <!-- </div> -->
</div>    