<div class="container-fluid" style="max-width: 900px;">
<% if (locals.error){ %>
<div class="alert alert-danger" role="alert">
  <p><%= error %></p>
</div>
<% } %>
<% if (locals.messages && locals.messages.errors){ %>
<div class="alert alert-danger" role="alert">
    <ul>
    <% for(var i=0; i < locals.messages.errors.length; i++) { %>
    <li><%= locals.messages.errors[i].msg || locals.messages.errors[i] %></li>
    <% } %>
    </ul>
</div>
<% } %>
<% if (locals.messages && locals.messages.info){ %>
<div class="alert alert-info" role="alert">
    <ul>
    <% for(var i=0; i < locals.messages.info.length; i++) { %>
    <li><%= locals.messages.info[i].msg || locals.messages.info[i] %></li>
    <% } %>
    </ul>
</div>
<% } %>
<% if (locals.messages && locals.messages.success){ %>
<div class="alert alert-success" role="alert">
    <ul>
    <% for(var i=0; i < locals.messages.success.length; i++) { %>
    <li><%= locals.messages.success[i].msg || locals.messages.success[i] %></li>
    <% } %>
    </ul>
</div>
<% } %>
</div>