<div id="summary">
  <div class="container-fluid container-max">


    <div>
      You currently have a free plan
    </div>

    <div>
      Scans
      <ul>
        <li>User (White Label)(Route url)</li>
        <li>-> Sites (Route url)</li>
        <li>-> ->Scans</li>
        <li>-> -> -> Issues</li>
        <li>-> -> -> Resources</li>
        <li>-> -> -> Links</li>
        <li>-> -> -> Meta</li>
      </ul>
    </div>

    <div>
      Activity
      <ul>
        <li>Scan over time</li>
        <li>Urls Over Time</li>
        <li>User Activity Over Time</li>
        <li>Credits Over Time</li>
        <li>Credits Left</li>
        <li>Credits Left</li>
      </ul>
    </div>


    <div>
      Whitelabel - Leads
      <ul>
        <li>Charts</li>
        <li>Users over time</li>
        <li>Embed Code Over Time</li>
      </ul>
      <ul>
        <li>Recent</li>
        <li>All</li>
      </ul>
    </div>

    <div>
      Whitelabel - Customize
      <ul>
        <li>Upload Logo</li>
        <li>Customize CSS</li>
        <li>Customize Email</li>
        <li>Embed Codes</li>
      </ul>
    </div>

<!--
    <div class="progress">
      Upload logo
      Add customize CSS
      Customize Email
      Create Embed Code
    </div>

    <div class="welcome-message">
      Welcome! In the near future, you will find information about your scans,
      leads and all of that other good stuff here.  But for now, we thought
      we should use this time and space to introduce you to us.
      <br>
      We off a white label service that will allow your own customers to perform scans
      on their own sites to generate reports that are emailed to them.
      <br>
      This gives them a realistic perspective of what they need done, and also
      gives the oppourntity to you both to introduce and do business together for
      mutual benenfits.
      <br>
      1.
      We suggest that you begin by uploading your logo, and customizing the dashboard's
      CSS to better match your own. <button>Customize Dashboard</button>
      <br>
      2.
      After that you can customize how your emails look, to match your own company.  This will
      also allow you to add your own text if you feel the need. <button>Customize Email</button>
      <br>
      3.
      After all of that I think it's time to design your embed code, and hook it up to your site
      and start raking in those leads, don't you think? <button>Create an Embed Code</button>
    </div> -->


  </div>
</div>
