@lighterAccent: #EEE6D1;
/*
A frequently used background color
*/
@lightAccent: #BAE7E0;
/*
A background color that is not used a lot
*/
@lightPrimary: #246E89;
/*
Used on lots of things, lines, text, the header
*/
@darkPrimary: #246E89;
/*
A nice compliment to the primary color, can be used
for a pop of color when needed, like headers or
icons and things
*/

@darkAccent: #56AFC1;
/*
Dark Accent can be used from some lines or squares, but should not
be used on large spaces, aside from the footer
*/

@darkerAccent: #388FA3;
/*
Darker Accent is used in small doses, and not on 
large spaces
*/
@white: #ffffff;



/* Sizes */
@headerHeight: 50;
@headerFont: 11;


/* Navigation */
.navbar-default{
    padding-top: 19px;
    background: none !important;
    background-color: @lightPrimary !important;
    border:none;
    text-shadow:none;
    box-shadow:none !important;
    .navbar-brand {
        color: @white;
        font-weight: 600 !important;
        letter-spacing: 0px;
    }
    .navbar-brand,.navbar-nav>li>a{
        text-shadow:none;
        text-transform: uppercase;
    }
    .navbar-brand{
        font-weight:100;
    }
    .navbar-nav li{
        &.active a{
            color:@white;
            background: none !important;
            box-shadow: none !important
            // background-color: @darkerAccent !important;
            // background-color: @darkerAccent !important;
        }
        a{
            line-height: 12px;
            padding-top: 19px;
            padding-bottom: 19px;
            padding-left: 19px;
            padding-right: 19px;
            font-weight:600;
            font-size:11px;
            letter-spacing: 1px;
            -webkit-font-smoothing:antialiased;
            color:@white;
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            -webkit-transition: all .2s ease-in;
            transition: all .2s ease-in;
            &:hover{
                color:@darkAccent !important;
            }
        }
    }
}

/* Extended Header */
.extended-header{
    padding-top:40px;
    padding-bottom:40px;
}


/* Common Elements */
h3.section-header{
    font-weight:100;
}

/* Reusable Styles */
.centered-text,.text-centered{
    text-align:center;
}

.loud-text{
    font-weight:600;
    font-size:36px;
    font-family: 'Roboto Condensed', sans-serif;
}


h1.advice-header{
    padding:40px;
    font-weight: 100;
    max-width: 50%;
    margin:0 auto;
    font-size: 36px;
    line-height: 50px;
}

.single-url{
    margin-bottom:0px;
}


/* Color Classes */
&.prime{
    &.bg{
        background-color: @darkPrimary !important;
    }
    &.clr{
        color: @darkPrimary !important;
    }
}
.light-prime{
    &.bg{
        background-color: @lightPrimary !important;
    }
    &.clr{
        color: @lightPrimary !important;
    } 
}
.light-accent{
    &.bg{
        background-color: @lightAccent !important;
    }
    &.clr{
        color: @lightAccent !important;
    } 
}
.lighter-accent{
    &.bg{
        background-color: @lighterAccent !important;
    }
    &.clr{
        color: @lighterAccent !important;
    } 
}
.dark-accent{
    &.bg{
        background-color: @darkAccent !important;
    }
    &.clr{
        color: @darkAccent !important;
    } 
}
.darker-accent{
    &.bg{
        background-color: @darkerAccent !important;
    }
    &.clr{
        color: @darkerAccent !important;
    } 
}
.white{
    &.bg{
        background-color: @white !important;
    }
    &.clr{
        color: @white !important;
    } 
}



/* Results */
.grade-letter{
    text-anchor: middle;
}

/* END NEW STYLES */




body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container-max {
  max-width: 1200px;
}

.container-wide {
  max-width: 1100px;
}

/* custom navbar */
.navbar-default {
  background-color: #9b59b6;
  border-color: #8e44ad;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar-default .navbar-toggle {
  border-color: #8e44ad;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #8e44ad;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse{
  border: none;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #8e44ad;
  }
}

.btn-primary {
  background-color: #9b59b6;
  border-color: #9b59b6;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #8f4bab;
  border-color: #804399;
}
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #9b59b6;
  border-color: #9b59b6;
}




[class*="col"] {
   // border: 1px solid black;
}
  .row.header{
   margin-top:25px; 
  }
  body{
    font-weight:300;
    font-family: 'Roboto', sans-serif;
  }
  .row.data{
    min-height:180px;
    border-bottom:1px solid black;
  }
  .lnr-question-circle{
    margin-left:5px;
  }
  .row div{
    height:inherit;
  }
  .row .title{
    font-size:10px;
    font-weight:400;
    text-transform:uppercase;
    color:gray;
    margin:0px;

  }
  .blue-title{
    line-height:30px;
    margin-top:30px !important;
    font-weight:300;
    color: #1689e5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    margin:0px;
    font-size:14px;
    letter-spacing: 1.5px;
  }
  .sub-title.black{
    margin-top:15px;
//    margin-bottom:25px !important;
  }
  .sub-title{
    margin-bottom:11px !important;
    color:lightgray;
    margin-top:0px;
    font-weight:300;
  }
hr {
    border-top: 1px dashed #efefef;
}
  .detail{
    line-height:20px;
    height:25px;
    margin:0px;
    font-size:13px;
    font-weight:300;
  }
  .detail.last{
    margin-bottom:20px;
  }
  .last .lnr{
    font-size:12px;
    margin-right:5px;
  }
  .status{
    font-weight:400;
    color:green;
    border:1px solid green;
  }
  .button{
    border-radius: 10em;
    padding: 1.1em 2em 0.9em;
    font-size: 12px;
    background-color: transparent;
    color: #ffb400;
    border: 1px solid #DDDDE2;
  }

.button.main{
    border-radius: 10em;
    padding: 1.1em 2em 0.9em;
    font-size: 12px;
    background-color: #ffb400;
    color: #fff;
    border: 1px solid transparent;
  }
  .button:hover{
       border-color: #ffb400;
       text-decoration:none;
       color: #ffb400;
       cursor:pointer;
  }
  button[type=submit]:focus {
    outline: -webkit-focus-ring-color auto 0px;
    background-color: @lightPrimary;
    color: @white;
    }
  .summary-statement{
    font-weight:700;
    color:#008;
    font-size:16px;
  }
  .second{
    font-size:15px;
    font-weight:300;
    letter-spacing: 2.0px;
    color:#118;
  }
  #chart{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    font-size: 35px;
    font-weight: 400;
    color: #dedede;
    line-height: 65px;
    border: 3px solid #dedede;
    margin-bottom: 20px;
  }
  
  .question:after {
    position: relative;
    top: .2rem;
    content: "—";
    font-family: 'ModernPictogramsPro' !important;
    font-size: 13px;
    line-height: 0.8;
    text-transform: none;
    text-decoration: none !important;
    font-style: normal !important;
    font-weight: normal !important;
    line-height: 0.8;
}
.chart-col{
  text-align:center;
  //background-color:#eee;
}
.chart-col div{
  margin-top:25px !important;
  margin:0 auto;
}
.secondary{
    color: #7fb800;
    border-color: #7fb800;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    display: inline-block;
    padding: 4px 8px 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    user-select: none;
    font-size: 18px;
    letter-spacing: 0.025em;
    line-height: 11px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    transition: all 0.1s linear;
    font-size: 10px;
    text-transform:uppercase;
}
.right-align{
  text-align:right;
}
.lnr{
  display: inline-block;
}
.warning{
  color:#f66;
}
.icon-rotate-45:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.small-links{
  font-size:13px;
  letter-spacing:1px;
}


.twitter-typeahead input{
    position: relative;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 3px;
    background: #ffffff;
    max-width: 25em;
    position: relative;
    width: 100%;
    //font-size: 1.8rem;
    font-size: 12px;
//    line-height: 1.4;
    color: #1689e5;
    z-index: 2;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    overflow-x: hidden;
    padding-right: 1.5em;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    //padding: 0.55em 0.5em 0.45em;
    height: 40px;
}

.display-selected {
    font-size: 12px;
    font-weight: 400;
    //text-transform: uppercase;
    color: gray;
    margin: 0px;
    margin-bottom: 4px;
    letter-spacing:2px;
}

/* scaffolding */
/* ----------- */

html {
  overflow-y: scroll;
  *overflow-x: hidden;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.tt-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */

html {
  font: Roboto, "Segoe UI", Calibri, sans-serif;
  color: #292f33;
}


a {
  color: #03739c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

p + p {
  margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.example {
  padding: 30px 0;
}

.example-name {
  margin: 20px 0;
  font-size: 32px;
}

.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  //font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 10em;
     -moz-border-radius: 10em;
          border-radius: 10em;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 1px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 182px;
  margin: 0px 0;
  padding: 8px 0;

  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px 0px 8px 8px;
     -moz-border-radius: 0px 0px 8px 8px;
          border-radius: 0px 0px 8px 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}




.tabluar{
//height:40px;
//line-height:40px;
  padding:20px 0px;
}
.run-container{
  border-bottom:1px dashed #aaf
}
.tabluar .no-wrap{
  overflow:ellipse;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.expanded-header,.expanded-child{
  background-color:#eef;
  border-bottom:1px dashed #fff;
}
.expanded-header{
padding:15px 0px;
}

.button:focus{
    outline: -webkit-focus-ring-color auto 0px;
    background-color: blue;
}

.expanded-header,.expanded-child{
  background-color:#eef;
  border-bottom:1px dashed #fff;
}
.expanded-header{
padding:15px 0px;
}

.navbar {
    margin-bottom: 0px;
}

.scan-url-container{
width:100%;
}
.sub-title{
    margin-top:0px;
    margin-bottom:26px !important;
}
.scan-details{
   float:left;width:50%;
}
.rescan-icon{
  margin-left:5px;
}
.left-dash{
   border-left: 1px dashed #efefef;

}
.right-dash{
   border-right: 1px dashed #efefef;
}
.margin-right-five{
  margin-right:5px;
}
