{% extends '../layouts/dashboard.html' %}
{% extends '../layouts/dashboard.html' %}

{% block title %}{{title}}{% endblock %}
tegfdgdg
{% block content %}
  <div class="container-fluid container-max" id="summary">
    <div class="page-header">
      <h1>Home <small>/views/dashboard/index</small></h1>
    </div>
    <script>
    window.uid = '{{user.uid}}';
    </script>
  



    {% for x in requests.list %}
      {% if loop.first %}<ul>{% endif %}
      <li>{{ loop.index }} - {{ loop.key }}: {{ x }} {{x}}
      Status: 
      Request Date: {{x.requestDate}}
      Options: {{x.options.date}}
      Options: {{x.options.scanDepth}}
      Options: {{x.options.filterLevel}}
      processes: {{x.options.limit}}
      retries: {{x.status}}
      url: {{x.status}}

      </li>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}

    <div class="page-header">
    <h3>Check your site!</h3>
    </div>
    <form action="/summary" method="POST" class="form-horizontal" onsubmit='return onSubmit(this)'>
      
    <div class="alert alert-warning alert-dismissible error" style="display:none" role="alert" style="margin:0;display:none">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong class="message-bold"></strong><span class="message-text"></span><!-- <span class="message-hint" data-toggle="tooltip" data-placement="top" title="Tooltip on top">i</span> -->
    </div>

      <div class="form-group">
        <label for="url" class="col-sm-3 control-label">Website URL</label>
        <div class="col-sm-4">
          <input type="text" name="url" class="form-control" value="http://www.myurl.com">
          <input type="text" name="uid" value="{{user.uid}}">
          <input type="hidden" name="token" value="{{user.apiToken}}">
          <input type="hidden" name="request" value="page">
          <input type="hidden" name="page" value="summary">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
          <button type="submit" class="jsDisabled btn btn-primary submitUrl">Submit</button>
          <button type="submit" class="jsEnabled apiRequest btn btn-primary submitUrl">Submit</button>
        </div>
      </div>
    </form>

    <div id="request-container">
        <ul class="list">

        </ul>
    </div>












</div>
{% endblock %}
