<div class="container-fluid container-max">
    <div class="table">

        <div class="col-sm-12">
          <div class="col-sm-4">
            Passed
          </div>
          <div class="col-sm-4">
            Update user email
          </div>
          <div class="col-sm-4">
            <!-- test-build/update-user-email.js -->
            <button type="submit" class="btn btn-primary">Test</button>
          </div>
        </div>


        <div class="col-sm-12">
          <div class="col-sm-4">
            Passed
          </div>
          <div class="col-sm-4">
            Update account
          </div>
          <div class="col-sm-4">
            <!-- test-build/update-account.js -->
            <button type="submit" class="btn btn-primary">Test</button>
          </div>
        </div>


        <div class="col-sm-12">
          <div class="col-sm-4">
            Passed
          </div>
          <div class="col-sm-4">
            Update user data
          </div>
          <div class="col-sm-4">
            <!-- test-build/update-user-data.js -->
            <button type="submit" class="btn btn-primary">Test</button>
          </div>
        </div>


        <div class="col-sm-12">
          <div class="col-sm-4">
            Passed
          </div>
          <div class="col-sm-4">
            Update subscription
          </div>
          <div class="col-sm-4">
            <!-- test-build/update-subscription.js -->
            <button type="submit" class="btn btn-primary">Test</button>
          </div>
        </div>


        <div class="col-sm-12">
          <div class="col-sm-4">
            Passed
          </div>
          <div class="col-sm-4">
            Update subaccount email
          </div>
          <div class="col-sm-4">
            <!-- test-build/update-subaccount-email.js -->
            <button type="submit" class="btn btn-primary">Test</button>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="col-sm-4">
            Passed
          </div>
          <div class="col-sm-4">
            Update cancelled subscription
          </div>
          <div class="col-sm-4">
            <!-- test-build/update-cancelled-subscription.js -->
            <button type="submit" class="btn btn-primary">Test</button>
          </div>
        </div>


        <div class="col-sm-12">
          <div class="col-sm-4">
            Passed
          </div>
          <div class="col-sm-4">
            Manually call webhooks
          </div>
          <div class="col-sm-4">
            <!-- test-build/manually-call-webhooks.js -->
            <button type="submit" class="btn btn-primary">Test</button>
          </div>
        </div>

    </div>
</div>
